<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    <bean id="moduleBean" class="org.labkey.api.module.SimpleModule">
        <property name="name" value="nexus_external_modules"/>
        <property name="schemaVersion" value=""/>
        <property name="requiredServerVersion" value="0.0"/>
        <property name="moduleDependencies" value=""/>

        <property name="label" value=""/>
        <property name="description">
          <value><![CDATA[]]></value>
        </property>
        <property name="url" value=""/>
        <property name="author">
          <value><![CDATA[]]></value>
        </property>
        <property name="maintainer">
          <value><![CDATA[]]></value>
        </property>
        <property name="organization" value=""/>
        <property name="organizationUrl" value=""/>
        <property name="license" value=""/>
        <property name="licenseUrl" value=""/>

        <property name="vcsRevision" value="Unknown"/>
        <property name="vcsUrl" value="Unknown"/>
        <property name="vcsBranch" value="Unknown"/>
        <property name="vcsTag" value="Unknown"/>
        <property name="buildUser" value="root"/>
        <property name="buildTime" value="Dec 14, 2022, 8:28:36 AM"/>
        <property name="buildOS" value="Linux"/>
        <property name="buildPath" value="/labkey/develop/build/modules/nexus_external_modules"/>
        <property name="buildType" value="Production"/>
        <property name="sourcePath" value="/labkey/develop/server/modules/nexus_external_modules"/>
        <property name="supportedDatabases" value=""/>
        <property name="resourcePath" value=""/>
        <property name="buildNumber" value="Unknown"/>
        <property name="enlistmentId" value="5f642022-ad01-4c25-83e5-05b711120263"/>
        <property name="manageVersion" value="true"/>
        <property name="releaseVersion" value="22.11"/>
    </bean>
</beans>
